 :root {
  font-size: 62.5%;
  --color-black: #000;
  --color-white: #f0f0f0;
  --color-grey: rgba(204, 204, 204, 0.109);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background-color: var(--color-black);
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: initial;
  }
}

@media only screen and (max-width: 935px) {
  body {
    overflow: initial;
  }
}

.App {
  text-align: center;
}